<div class="row" style="justify-content: center;margin: 50px 100px;">
    <div class="card cardzoom" style="width: 15rem;" (click)="redirectCPVC()">
        <img class="card-img-top" src="assets/img/30.jpg" alt="Card image cap">
        <div class="card-body">
            <h4 class="card-title">CPVC Pipes</h4>
            <h6 class="card-subtitle mb-2 text-muted">CPVC PLUMBING SYSTEM FOR HOT & COLD WATER</h6>
        </div>
    </div>
    <div class="card cardzoom" style="width: 15rem;">
        <img class="card-img-top" src="assets/img/2-4aa.jpg" alt="Card image cap">
        <div class="card-body">
            <h4 class="card-title">UPVC Pipes</h4>
            <h6 class="card-subtitle mb-2 text-muted">UPVC PLUMBING SYSTEM FOR COLD WATER</h6>
        </div>
    </div>
    <div class="card cardzoom" style="width: 15rem;">
        <img class="card-img-top" src="assets/img/2-4aa.jpg" alt="Card image cap">
        <div class="card-body">
            <h4 class="card-title">Agro Pipes</h4>
            <h6 class="card-subtitle mb-2 text-muted">Agro Pipes</h6>
        </div>
    </div>
</div>