<!DOCTYPE html>
<html>

<head>
    <title></title>
 
</head>

<body>
    <div>
        <table>
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>Qty</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <#list items as item>
                    <tr>
                        <td>${item['sNo']}</td>
                        <td>${item['qty']}</td>
                        <td>Rs.${item['price']}</td>
                    </tr>
                </#list>
            </tbody>
        </table>
    </div>
</body>

</html>