<div *ngIf="products" class="container" [formGroup]="productsForm">
    <div class="row" formArrayName="productsList">
        <div class="col-lg-10 mx-auto my-5">
            <div class="table-responsive">
                <table class="table">
                    <thead class=" text-primary">
                        <tr>
                            <th> S.No </th>
                            <th> Item Name </th>
                            <th> Size </th>
                            <th> Std Qty</th>
                            <th> Price</th>
                            <th> Qty</th>
                            <th> Action </th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let product of products; let index = index;">
                        <tr [formGroupName]="index">
                            <td> {{product.sNo}} </td>
                            <td> {{product.item}} </td>
                            <td> {{product.size}} </td>
                            <td> {{product.std_Pkg}} </td>
                            <td> Rs.{{product.price}} </td>
                            <td>
                                <!-- <label for="inputZip">Qty</label> -->
                                <input formControlName="quantity" type="number" class="form-control col-md-3" id="qty"
                                    name="qty">
                            </td>
                            <td>
                                <button type="button" class="btn  btn-primary btn-round"
                                    (click)="addProductToCart(product, index)">Add
                                </button>
                            </td>

                        </tr>
                </table>
            </div>
        </div>
    </div>
</div>
