<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Your Cart Products</h5>
            </div>
            <div class="card-body">
                <div class="card">
                    <main>

                        <section class="summary">
                            <div class="items">🛒 {{totalItems}} items</div>
                            <div class="total"><b>Rs.{{total}}.00</b></div>
                        </section>

                        <section class="actions">
                            <div class="form-group col-md-12 p-0">
                                <form [formGroup]='OtpForm' (ngSubmit)="validateOTP()">
                                    <label for="inputZip" style="float:left">Enter OTP got on your Mobile:</label>
                                    <input type="number" class="form-control" id="otp">
                                </form>
                                <div class="row">
                                    <div class="col-md-6">
                                        <button class="btn btn-primary" type="submit">Verify OTP</button>
                                    </div>
                                    <div class="col-md-6">
                                        <button class="btn btn-primary" type="submit"
                                            (click)="placeOrder()">Order</button>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <section class="cart">
                            <h5>CPVC Products:</h5>
                            <ul>
                                <li class="item" *ngFor="let cartItem of cartItems; let ndx = index">
                                    <h6 class="name">{{ndx+1}}.{{cartItem.item}} {{cartItem.size}}
                                        {{cartItem.price}} x {{cartItem.quantity}}</h6>
                                    <p class="price">Rs.{{cartItem.price * cartItem.quantity}}.00</p>
                                </li>
                            </ul>
                            <br>
                            <h5> UPVC Products:</h5>
                            <!-- <ul>
                                <li class="item" *ngFor="let cartItem of cartItems">
                                    <h6 class="name">{{cartItem.sNo}}.{{cartItem.item}} {{cartItem.size}}
                                        {{cartItem.quantity}}</h6>
                                    <p class="price">Rs.{{cartItem.price * cartItem.quantity}}.00</p>
                                </li>
                            </ul> -->
                            <br>
                            <h5 class="text-right">Total Price <b>Rs{{total}}.00</b></h5>
                            <p class="text-right">(inclusive of GST @18%)</p>
                        </section>

                    </main>
                </div>
            </div>


        </div>

    </div>